{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADNU Attendance</title>
    {% tailwind_css %}
</head>

<body class="min-h-screen flex items-center justify-center p-4 sm:p-6" style="background-image: url('{% static 'images/pillars.jpg' %}'); background-size: cover; background-position: center;">
    
    <div class="bg-white bg-opacity-85 shadow-md max-w-[90%] sm:w-[500px] rounded-2xl p-6 text-center border-2 border-gray-400">
        <form name="role" method="post" action="{% url 'role_redirect' %}">
            {% csrf_token %}
            <img src="{% static 'images/adnu_logo.png' %}" alt="Logo" class="w-24 sm:w-32 mx-auto mb-4">
            <h1 class="text-lg sm:text-xl md:text-3xl font-bold text-gray-800 mb-2">Welcome Atenean!</h1>
            <h2 class="mb-4 font-semibold text-sm sm:text-md">Select your account type for the registration:</h2>
            
            <select class="select select-lg text-center w-full sm:w-40 rounded-md border border-gray-400 p-2" name="inusertype">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="admin">Admin</option>
            </select>              

            <div class="flex justify-center items-center mt-6">    
                <button class="btn btn-soft border-white bg-blue-950 text-white rounded-lg w-full sm:w-28 h-[44px] hover:bg-blue-700">Submit</button>   
            </div>

            <div class="flex justify-center items-center mt-4">   
                <p class="font-semibold text-sm sm:text-md">Already have an Account? <a class="link text-blue-700 hover:text-violet-900" href="{% url 'login' %}">Click here to login</a></p>
            </div>
        </form>
    </div>
</body>
</html>